.resBlock{
    float: left;

    padding: 5px;
}

.resultUL{
    list-style: none;
    padding-left: 0;
}

#calcResults {

}
.btn{
    margin-right: 5px;
    margin-bottom: 5px;
}

